# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

In [41]:
import pandas as pd
import numpy as np

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [13]:
import pandas as pd
import numpy as np
recipes = pd.read_csv('Data/recipes_sample.csv', parse_dates=['submitted'])
reviews = pd.read_csv('Data/reviews_sample.csv', index_col=[0])
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [6]:
print('Количество строк для первой таблицы =',len(recipes.axes[0]),
      '\nКоличество столбцов для первой таблицы =', len(recipes.axes[1]))
for i in range(0,len(recipes.axes[1])):
    print('Тип данных для',i+1, 'столбца:',type(recipes.iloc[0, i]))

print('Количество строк для второй таблицы =',len(reviews.axes[0]),
      '\nКоличество столбцов для второй таблицы =', len(reviews.axes[1]))
for i in range(0,len(reviews.axes[1])):
    print('Тип данных для',i+1, 'столбца:',type(reviews.iloc[0,i]))

Количество строк для первой таблицы = 30000
Количество столбцов для первой таблицы = 8
Тип данных для 1 столбца: <class 'str'>
Тип данных для 2 столбца: <class 'numpy.int64'>
Тип данных для 3 столбца: <class 'numpy.int64'>
Тип данных для 4 столбца: <class 'numpy.int64'>
Тип данных для 5 столбца: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
Тип данных для 6 столбца: <class 'numpy.float64'>
Тип данных для 7 столбца: <class 'str'>
Тип данных для 8 столбца: <class 'numpy.float64'>
Количество строк для второй таблицы = 126696
Количество столбцов для второй таблицы = 5
Тип данных для 1 столбца: <class 'numpy.int64'>
Тип данных для 2 столбца: <class 'numpy.int64'>
Тип данных для 3 столбца: <class 'str'>
Тип данных для 4 столбца: <class 'numpy.int64'>
Тип данных для 5 столбца: <class 'str'>

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [61]:
null_rows_total1 = recipes.shape[0] - recipes.dropna().shape[0]    
print('Количество пропусков в каждом столбце первой таблицы:\n', recipes.isna().sum())
print('Доля строк, содержащих пропуски: ', (null_rows_total1/len(recipes.axes[0]))*100,'%',sep='' )

null_rows_total2 = reviews.shape[0] - reviews.dropna().shape[0]
print('Количество пропусков в каждом столбце второй таблицы:\n', reviews.isna().sum())
print('Доля строк, содержащих пропуски: ', (null_rows_total2/len(reviews.axes[0]))*100,'%',sep='' )

Количество пропусков в каждом столбце первой таблицы:
 name                      0
id                        0
minutes                   0
contributor_id            0
submitted                 0
n_steps               11190
description             623
n_ingredients          8880
description_length      623
name_word_count           0
dtype: int64
Доля строк, содержащих пропуски: 56.846666666666664%
Количество пропусков в каждом столбце второй таблицы:
 user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64
Доля строк, содержащих пропуски: 0.013417945317926377%

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [69]:
print('Среднее значение для столбца minutes: ', recipes['minutes'].mean(), 
      '\nСреднее значение для столбца n_steps: ', recipes['n_steps'].mean(), 
      '\nСреднее значение для столбца n_ingredients: ', recipes['n_ingredients'].mean())

print('Среднее значение для столбца rating: ', reviews['rating'].mean())

Среднее значение для столбца minutes:  123.35813333333333
Среднее значение для столбца n_steps:  9.805582137161085
Среднее значение для столбца n_ingredients:  9.008285984848484
Среднее значение для столбца rating:  4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [63]:
ten_recipes = pd.Series(recipes['name'].sample(n = 10))
ten_recipes

5852                           Chicken muffin sandwiches
1960                  Baked ricotta and spinach rigatoni
1380              Aunt martha s microwave boiled custard
8992                                  Curried garlic dip
1247                              Asian spring asparagus
8670                     Crock pot mt  dew pineapple ham
26249    Sugar cookies with pistachio and dried cherries
2044                 Baleadas  cheap  easy honduran meal
9240                          Deep fried jalapeno slices
19071                            Old fashioned sugar pie
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [64]:
reviews.reset_index()

,index,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [65]:
recipes[(recipes.minutes < 21) & (recipes.n_ingredients < 6)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
29193,When dinner at 4 00pm turns into dinner at 6 00pm,238287,5,450571,2007-07-02,4.0,"i love my mother-in-law dearly. really, i do....",5.0,355.0,11
12665,Green beans from a can that don t taste like it,162873,5,209747,2006-04-04,4.0,as fast as you can heat a can of veggies you c...,4.0,247.0,11
3934,Brown sugar and rum glazed pineapple with coco...,372902,5,340141,2009-05-19,15.0,from the america's test kitchen cookbook. i h...,5.0,66.0,11
12673,Green beans sauteed in walnut oil with toasted...,40577,10,15718,2002-09-19,6.0,quick and simple recipe for geen beans with an...,3.0,140.0,10
2792,Bella notte coffee with raspberry di amore a...,349920,2,904483,2009-01-14,2.0,this is a delicious hot coffee drink! great fo...,3.0,141.0,10
...,...,...,...,...,...,...,...,...,...,...
5457,Chewbacca,59043,2,61660,2003-04-09,2.0,"when i used to waitress, this was one of my fa...",2.0,68.0,1
25722,Splice,29105,5,29196,2002-05-21,NaN,my favourite cocktail. i love it when we've be...,5.0,113.0,1
18174,Mousetraps,288829,10,446523,2008-02-26,12.0,fancy name for ham egg & cheese on toast.,4.0,41.0,1
16227,Limorancia,318482,2,461834,2008-08-08,2.0,another yummy limoncello recipe!!,4.0,33.0,1
17805,Mirepoix,119171,15,39547,2005-04-26,7.0,this is chef gabriel claycamp's (of culinary c...,3.0,452.0,1

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [66]:
import pandas as pd
import numpy as np
recipes = pd.read_csv('Data/recipes_sample.csv', parse_dates=['submitted'])
reviews = pd.read_csv('Data/reviews_sample.csv', index_col=[0])
recipes [:3]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [67]:
recipes[recipes['submitted']>='2010-01-01']

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
8,1 in canada chocolate chip cookies,453467,45,1848091,2011-04-11,12.0,this is the recipe that we use at my school ca...,11.0
13,blepandekager danish apple pancakes,503475,50,128473,2013-07-08,10.0,this recipe has been posted here for play in z...,NaN
36,5 minute bread pizza,487173,45,2406227,2012-09-19,30.0,my son recently showed me a recipe for artisan...,8.0
39,bacon cheeseburger and fries soup,447429,60,1355934,2011-01-26,NaN,"my son asked for cheeseburger soup, and having...",17.0
47,full cool macaroni and cheese,463219,25,383346,2011-08-28,8.0,a recipe from ricardo that is popular with kid...,11.0
...,...,...,...,...,...,...,...,...
29965,zucchini sausage casserole,472482,80,447199,2012-01-20,13.0,this was a real hit with my family! this recip...,NaN
29976,zucchini tots,505053,20,798181,2013-07-31,NaN,'the happy homemaker blog' shared this recipe ...,NaN
29992,zucchini courgette soup good for weight watc...,415406,45,485109,2010-03-04,5.0,this is a favourite winter warmer. by british ...,NaN
29994,zuppa by luisa,464576,70,226863,2011-09-20,14.0,this soup is a hearty meal! from luisa musso.,17.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [68]:
recipes['description_length']  = recipes['description'].str.len()

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [55]:
recipes['name'] = recipes['name'].str.capitalize()

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [49]:
recipes['name_word_count'] = [len(x.split()) for x in recipes['name'].tolist()]

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [50]:
c = recipes.groupby("contributor_id").size()
print('Количество рецептов, представленных каждым из участников', c, 
      '\nУчастник, который добавил наибольшее кол-во рецептов: ', 
      c[c == c.max()].index[0])

Количество рецептов, представленных каждым из участников contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Length: 8404, dtype: int64
Участник, который добавил наибольшее кол-во рецептов:  89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [51]:
print('Кол-во рецептов, для которых отсутствуют отзывы', 
      len(recipes.groupby('name').size()) - len(reviews.groupby('recipe_id').size()))
reviews.groupby('recipe_id').mean('rating').drop('user_id', axis=1)

Кол-во рецептов, для которых отсутствуют отзывы 1875

             rating
recipe_id
48         1.000000
55         4.750000
66         4.944444
91         4.750000
94         5.000000
...             ...
536547     5.000000
536610     0.000000
536728     4.000000
536729     4.750000
536747     0.000000

[28100 rows x 1 columns]

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [52]:
recipes.groupby(recipes.submitted.dt.year).size()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [56]:
df = recipes[['id','name']].copy()
df5_1 = df.merge(reviews[['user_id','rating']], left_on='id', right_on='user_id')

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [57]:
df = recipes[['recipe_id','name']].copy()

KeyError: "['recipe_id'] not in index"

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [58]:
df = recipes[['id','name']].copy()
df = df.merge(reviews[['recipe_id', 'rating', 'date']], right_on='recipe_id', left_on='id')
df = df.drop(['id', 'name', 'recipe_id'], axis=1)
df.date = pd.DatetimeIndex(df.date).to_period("Y")
df.groupby('date').mean().sort_values('rating')

        rating
date
2017  3.353042
2000  3.384615
2018  3.504076
2016  3.912603
2015  4.047145
2014  4.110595
2001  4.134426
2013  4.274168
2011  4.302045
2012  4.341427
2010  4.454440
2002  4.481556
2008  4.484635
2009  4.524728
2003  4.526940
2004  4.546548
2007  4.547077
2005  4.563680
2006  4.603673

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [59]:
recipes = recipes.sort_values(by=['name_word_count'], ascending=False)
recipes.to_csv("my_data.csv", index=True)

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [60]:
with pd.ExcelWriter("res.xlsx") as writer:
    df5_1.to_excel(writer, sheet_name="Рецепты с оценками")  
    df5_2.to_excel(writer, sheet_name="Количество отзывов по рецептам")

NameError: name 'df5_2' is not defined

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3